
<!-- Section Intro Slider
================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="item active" style="background-image:url(donate.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInDown">
                Bootstrap HTML Template </h2>
                <h1 data-animation="animated bounceInUp">
                This is Layana </h1>
                <a href="#" class="btn btn-ghost btn-lg" data-animation="animated fadeInLeft">Start Tour</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">Learn More</a>
            </div>
        </div>
        <!-- /.item -->
        <!-- Second slide -->
        <div class="item" style="background-image:url(https://s3-eu-west-1.amazonaws.com/layanademo/s2-min.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated zoomInLeft">
                Responsive HTML Template </h2>
                <h1 data-animation="animated zoomInRight">
                Bootstrap Theme </h1>
                <a href="#" class="btn btn-ghost btn-lg" data-animation="animated bounceIn">Start Tour</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Learn More</a>
            </div>
        </div>
        <!-- /.item -->
        <!-- Third slide -->
        <div class="item" style="background-image:url(https://s3-eu-west-1.amazonaws.com/layanademo/s3-min.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInLeft">
                Layana by WowThemesNet</h2>
                <h1 data-animation="animated bounceInRight">
                Happy Coding</h1>
                <a href="#" class="btn btn-ghost btn-lg" data-animation="animated zoomInRight">Start Tour</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated zoomInRight">Learn More</a>
            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->
    <!-- Controls (currently displayed none from style.css)-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->

    
     
    <section id="services" class="emeraldu">
        <div class="container">
            <div class="row">             
                
         <section id="terms" class="container"><!--/#terms-->
        <h2 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;">Welcome to Family AIDS Initiative Response(FAIR)</h2>

        <p>Welcome to <i>Family AIDS Initiative Response</i>, We are local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus. </p>  
        <hr>
        <h3 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;"> How We Help </h3>
            <br>

        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                           <i class="fa fa-user-circle" aria-hidden="true"></i>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Health & Nutrition</h3>
                            <p>We provide robust health and nutrition benefits to the children coming from the most marginalised communities..</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Education</h3>
                            <p>We help children with limited means get access to quality education, with a focus on vulnerable.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Child Protection</h3>
                            <p>All children have the right to a healthy, happy and fulfilling life. Donate Money & Support Charity to Keep children safe & free from harm.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

       
          </section><!--/# end terms-->


           </div>
        </div>
        
    </section><!--/#services-->
    <hr>
    <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;">Our Recent Works</h3>
                    <p>This are some of the recent projects that we have been doing for the community around us.</p>
                    <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("projects/6.JPG", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                Giving medication
                                                    
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("projects/1.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    Inspiring young girls 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("projects/2.JPG", alt: "Recent Work", class: "img-responsive") %>
                                                
                                                <h5>
                                                    Giving out our donations
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("projects/3.JPG", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>Members planting in green house project

                                                    
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("projects/4.JPG", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                   Tomatoes in greenhouse project
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("projects/5.JPG", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                 Healthy spinach in the garden
                                                    
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
             
        <div class="gap"></div>
        
        <div class="gap"></div>
        <hr>

        <div id="meet-the-team" class="row">
        <h3 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;"><b>Our Partners</b></h3>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/1.jpg", alt: "partners logo", class: "img-responsive") %></p>
                     <p><%=  image_tag("partners/5.jpg", alt: "partners logo", class: "img-responsive") %></p>
                    
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/2.jpg", alt: "partners logo", class: "img-responsive") %></p>
                    
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/3.jpg", alt: "partners logo", class: "img-responsive") %></p>
                    
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><%=  image_tag("partners/4.jpg", alt: "partners logo", class: "img-responsive") %></p>
                                    </div>
            </div>
        </div><!--/#meet-the-team-->
        
        </div>


    </section><!--/#recent-works-->
    <hr>

     