<header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">WELCOME TO MEDAPP</h1>
                <p class="tagline">PROGRESSUS: Your Number One website <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a></p>
                <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a  class="btn btn-primary"  role="button">DOWNLOAD NOW</a></p>
            </div>
        </div>
    </header>

    
     
    <section id="services" class="emeraldu">
        <div class="container">
            <div class="row">

               
                
         <section id="terms" class="container"><!--/#terms-->
        <h2 style="color:#ff0000; font-family:'Debevic Circular', serif; font-weight:600;">Welcome to Family AIDS Initiative Response(FAIR)</h2>

        <p>Welcome to my abracadabra world! Growing up in a humble, religious family and environment has given me all the possibilities in life to creatively put myself out. I haven’t gotten so far as I need to but to the expedition I have traveled, I am greatly thankful to the almighty for the chance to work and associate with some of the world’s finest personalities. I also am gratified to the exceptional beings that have helped me shove through. I am devoted humanity and to me there is no more to its narrative than the days we live to smile and breath. The moments you realize you had to live by someone, with someone and the always unimaginative; for someone. I love writing and I adore deeply art! It’s not so far that I have started this journey but with poise I would like to try and explore the humankind through storytelling, from the tender tales of real life to the spooky world of fiction.
        Lots of love. </p>  
        <hr>
        <h3 style="color:#ff0000; font-family:'Debevic Circular', serif; font-weight:600;"> How We Help </h3>
            <br>

        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Health & Nutrition</h3>
                            <p>We provide robust health and nutrition benefits to the children coming from the most marginalised communities..</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Education</h3>
                            <p>We help children with limited means get access to quality education, with a focus on vulnerable.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Child Protection</h3>
                            <p>All children have the right to a healthy, happy and fulfilling life. Donate Money & Support Charity to Keep children safe & free from harm.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

       
          </section><!--/# end terms-->


           </div>
        </div>
        
    </section><!--/#services-->
    <hr>
    <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 style="color:#ff0000; font-family:'Debevic Circular', serif; font-weight:600;">Our Recent Works</h3>
                    <p>This are some of the recent projects that we have been doing for the community around us.</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    Educating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    Educating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                
                                                <h5>
                                                    Educating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%= image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    Educating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    NovEducating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                            <%=  image_tag("donate.jpg", alt: "Recent Work", class: "img-responsive") %>
                                                <h5>
                                                    FoEducating and encouraging young girls on how they should take care of themselves from early pregnancy 
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
             
        <div class="gap"></div>
        
        <div class="gap"></div>
        <hr>

        <div id="meet-the-team" class="row">
        <h3 style="color:#ff0000; font-family:'Debevic Circular', serif; font-weight:600;"><b>Our Partners</b></h3>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/1.jpg", alt: "partners logo") %></p>
                     <p><%=  image_tag("partners/5.jpg", alt: "partners logo") %></p>
                    
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/2.jpg", alt: "partners logo") %></p>
                    
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                     <p><%=  image_tag("partners/3.jpg", alt: "partners logo") %></p>
                    
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><%=  image_tag("partners/4.jpg", alt: "partners logo") %></p>
                                    </div>
            </div>
        </div><!--/#meet-the-team-->
        
        </div>


    </section><!--/#recent-works-->
    <hr>

     <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About Us</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                    
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <h4>Our Mission</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                </div><!--/.col-md-4-->

                

                <div class="col-md-4 col-sm-6">

                     <h4>ADDRESS</h4>
                     <address>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong> Head Office:</strong><br>
                         Giddo Plaza, off George Morara Rd Nakuru
                    </li>
                     <br>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> info@fair-ke.org
                    </li>
                     <br>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> (+254) 722894206 
                    </li>
                </ul>
                </address>

                </div> <!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#bottom-->